body {
  font-family: "Koulen", cursive;
  font-family: "Macondo", cursive;
  font-family: "Roboto Flex", sans-serif;
}

h1 {
  margin-bottom: 20px;
  font-weight: 300;
  color: black;
}

h4 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

.mb-3 {
  margin: 30px 50px 20px;
  width: 75%;
  max-width: 700px;
}

.fa-sun {
  color: #fec801;
  display: block;
}
.current-weather {
  border: 1px solid;
  border-color: #ced4da;
  border-radius: 0.375rem;
  margin: 20px 50px 20px;
  padding: 25px;
  width: 75%;
  max-width: 700px;
}

.current-weather p {
  color: rgb(87, 87, 87);
}

.current-weather .fa-sun {
  font-size: 110px;
  margin-left: 10px;
}

.current-weather .col-3 p {
  margin-top: 20px;
}

.current-weather .col-4 h1 {
  margin-top: 89px;
  margin-left: 40px;
  font-weight: 400;
}

.current-weather .col-5 {
  margin-top: 16px;
}

.weather-span {
  display: block;
  margin-top: 15px;
  font-size: 28px;
  color: black;
}

.week-forcast {
  border: 1px solid;
  border-color: #ced4da;
  border-radius: 0.375rem;
  margin: 20px 50px 20px;
  padding: 25px;
  width: 75%;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: rgb(87, 87, 87);
  max-width: 700px;
}

.week-forcast .fa-sun {
  font-size: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.forecast-temperature {
  display: block;
  margin-top: 5px;
  font-weight: 200;
  font-size: 18px;
  margin-left: 5px;
}

.degrees-measurment {
  font-size: 15px;
}

.footer {
  margin-left: 50px;
  margin-bottom: 15px;
}

.weather-description {
  display: block;
}

.weather-description:first-letter {
  text-transform: capitalize;
}

.active {
  color: black;
}

.form-control {
  width: 449px;
  border-radius: 10px 0px 0px 10px;
  height: 41px;
}

.current-location {
  background: #67a51c;
  color: white;
  padding: 10px 10px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
}
